# Python caches and environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
conda_env/

# Data Artifacts - Ignore heavy raw texts and parsed JSON schemas
data/*/*-raw.txt
data/*/*-Parsed.json

# Data Artifacts - Ignore raw subtitle files
data/*/srt/*.srt
!data/*/srt/.gitkeep

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db